h2{
  color: brown;
}
span{
  color: goldenrod;
}
.card{
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  /* width: 33%; */
  width: 400px;
}
img{
  width: 100%;
  border-radius: 15px;
}
#pets{
  display: flex;
  justify-content: space-evenly;
}

h4{
  color: rgb(69, 144, 167);
  text-align: right;
}


@media (max-width: 375px){
  #pets{
    flex-wrap: wrap;
  }
}